<% layout('./layouts/boilerplate.ejs') %>

<div class="container">
  <h3>Add expense</h3>
  <form action="/expenses/expense" method="post">
    <input
      type="number"
      name="expense[expenseValue]"
      placeholder="Add Amount"
    />
    <input
      type="text"
      name="expense[expenseCategory]"
      placeholder="Expense Category"
    />
    <button>Add</button>
  </form>
</div>
