<% layout('./layouts/boilerplate.ejs') %>

<div class="container offset-3 col-6 mt-5">
  <h3>Add income</h3>
  <form action="/api/income" method="post">
    <div class="mb-3">
      <label for="income" class="form-label">Income</label>
      <input
        name="incomeValue"
        type="number"
        class="form-control"
        id="income"
        min="1"
      />
    </div>
    <div class="mb-3">
      <select
        name="incomeCategory"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected disabled>Expense Category</option>
        <option value="salary">Salary</option>
        <option value="business-income">Business Income</option>
        <option value="gifts">Gifts</option>
        <option value="investment">Investment</option>
        <option value="bonuses/commissions">Bonuses/Commissions</option>
        <option value="others">Others</option>
      </select>
    </div>
    <button type="submit" class="btn mt-2">Submit</button>
  </form>
</div>
