<% layout('./layouts/boilerplate.ejs') %>

<form action="#">
  <input type="number" placeholder="Enter amount" name="expenseValue" />
  <input type="text" placeholder="Expense category" name="expenseCategory" />
  <button>Add</button>
</form>
