<% layout('./layouts/boilerplate.ejs') %>

<div class="container">
  <h3>Incomes</h3>
  <% for(income of Incomes){ %>
  <p>
    <%=income.incomeValue%> <br />
    <%=income.incomeCategory%>
  </p>
  <% } %>

  <h3>Expenses</h3>
  <% for(expense of Expenses){ %>
  <p>
    <%=expense.expenseValue%> <br />
    <%=expense.expenseCategory%>
  </p>
  <% } %>

  <form method="get" action="/expenses/add-income">
    <button>Add Income</button>
  </form>
  <form method="get" action="/expenses/add-expenses">
    <button>Add Expense</button>
  </form>
</div>
